@font-face {
  font-family: "ACaslonPro-Bold";
  font-display: swap;
  src: url("../fonts/ACaslonPro-Bold.woff") format("woff"), url("../fonts/ACaslonPro-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-brands-400";
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

div {
  background: url("../img/images.jpg") 0 0 no-repeat;
  position: relative;
}

div:before {
  content: "";
  width: 200px;
  height: 5px;
  background: #000;
  position: absolute;
  top: 50px;
  left: 200px;
}

.webp div { background: url(../img/images.webp) 0 0 no-repeat; }